.title{
    font-size: xx-large;
    font-weight: bolder;
    
}

.project{
    width: 50vw;
    height: 70vh;
    font-size: large;
}

.technologies{
    font-style: italic;
}

.img{
    width: 100%;
    height: 40vh;
}